--extra-index-url https://download.pytorch.org/whl/cpu
executorch==1.3.1
torch==2.12.0
torchao==0.17.0+cpu
transformers==5.0.0rc1
optimum-executorch @ git+https://github.com/huggingface/optimum-executorch.git@d1140eca622900404c1c5af3f74425034c239f37
